main {
    .jumbo {
        height: 500px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
    .comics {
        background-color: $brand_black;
        padding: 100px 0;
        .page_title {
            background-color: $brand_blue;
            height: 60px;
            padding: 10px 30px;
            margin-block-end: 0;
            position: absolute;
            top: -130px;
            text-transform: uppercase;
            color: white;
            font-size: 30px;
            font-weight: 600;
        }
        .comic {
            width: 200px;
            height: 300px;
            padding: 20px 0;
            color: white;
            img {
                height: 200px;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
            h5 {
                padding-top: 10px;
            }
        }
    }
}